html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#sidebar {
    border: solid black 2px;
    height: 400px;
    width: 25%;
    float: left;
    overflow-y: scroll;
}

#ContentPanel {
    width: 70%;
    height: 400px;
    overflow-y: scroll;
    border: black 30px;
    float: right;
}


.treeview {
    list-style-type: none;
    padding-left: 20px;
}


.navBar {
    background-color: dimgray;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

    .navBar i {
        font-size: 18px;
        margin-right: 10px;
        cursor: pointer;
    }

    .navBar input[type="text"] {
        padding: 8px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        margin-right: 10px;
    }

#navPathfld {
    flex-grow: 1; /* Take up remaining space in the flex container */
}

